@import '../../../styles/mixins';

.dashboard-hero {
  @include flex-raj(center, space-between);
  padding: 2rem 4rem;

  &__welcome-txt {
    font-weight: 600;
  }

  a {
    color: var(--color-sail-gray-700);
  }
}

.right-nav-actions {
  @include flex-raj();
  gap: 1.6rem;
}

@media only screen and (max-width: 600px) {
  .dashboard-hero {
    padding: 2rem;
  }
}
