.GameFeedbackModal {
  position: fixed;
  width: 100%;
  top: unset;
  left: 0;
  bottom: 0;
  padding: 4rem;

  &__content {
    margin: 2rem 0;

    button {
      margin-top: 2rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .GameFeedbackModal {
    padding: 1rem;
  }
}
