@import '../../styles/mixins';

.LangEditor {
  @include flex-raj(center, space-between);
  gap: 2rem;
  padding: 3.2rem 2.8rem;
  background-color: var(--color-secondary);
  border-radius: 1rem;
  width: 70%;

  &__textarea {
    flex: 1;
  }

  @media (max-width: 768px) {
    @include flex-caj(stretch, space-between);
    width: 90%;
    padding: 2.4rem;

    select {
      flex: 1;
    }
  }
}
