@import '../../../styles/mixins';

.word-list-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 9rem;
  gap: 3rem;

  &__entry {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2.4rem;

    &__actions {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-top: 0.4rem;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__word {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.6rem;

      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        width: 100%;
      }

      &__lang {
        font-size: var(--font-size-medium);
        font-weight: 300;
        width: 10rem;
        flex-shrink: 0;
        color: var(--color-sail-gray-700);
      }

      &__text {
        font-size: var(--font-size-medium);
        text-transform: capitalize;
        display: flex;
        flex-wrap: wrap;
        max-width: 65%;
      }

      &__input {
        flex: 1;
        max-width: 32rem;
        padding: 0.6rem 1rem;
        border-radius: 6px;
        border: 2px solid var(--color-primary);
        outline: none;

        &:focus {
          border-color: var(--color-secondary);
        }
      }
    }

    &__edit-actions {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-top: 1rem;
    }
  }

  &__empty {
    @include flex-caj(center, center);
    gap: 1.6rem;
    padding: 6rem 2rem;
    text-align: center;

    &__text {
      font-size: var(--font-size-large);
      color: var(--color-sail-gray-500);
    }
  }
}

@media only screen and (max-width: 600px) {
  .word-list-content {
    padding: 2rem;
  }
}
